In [1]:
import pandas as pd
import numpy as np

## Extracting features of 2022 movies from Wikipedia

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2022"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [3]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [4]:
df

,Rank,Title,Distributor,Domestic Gross,Opening,Opening.1,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,1.0,Doctor Strange in the Multiverse of Madness*,Disney,"$392,046,711",NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,The Batman*,Warner Bros.,"$369,345,122",NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Top Gun: Maverick*,Paramount,"$357,443,936",NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Sonic the Hedgehog 2*,Paramount,"$188,953,180",NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Uncharted,Sony,"$147,877,533",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
186,NaN,Distant,NaN,NaN,SEPTEMBER,16.0,Universal Pictures / DreamWorks Pictures / Amb...,Josh Gordon & Will Speck (directors); Spenser ...,NaN,[152]
187,NaN,Don't Worry Darling,NaN,NaN,SEPTEMBER,23.0,Warner Bros. Pictures / New Line Cinema,Olivia Wilde (director); Katie Silberman (scre...,NaN,[153]
188,NaN,"Catherine, Called Birdy",NaN,NaN,SEPTEMBER,23.0,Amazon Studios / Working Title Films,Lena Dunham (director/screenplay); Bella Ramse...,NaN,[154]
189,NaN,Hocus Pocus 2,NaN,NaN,SEPTEMBER,30.0,Disney+ / Walt Disney Pictures,Anne Fletcher (director); Jen D'Angelo (screen...,NaN,[155]
190,NaN,Bros,NaN,NaN,SEPTEMBER,30.0,Universal Pictures / Apatow Productions,Nicholas Stoller (director/screenplay); Billy ...,NaN,[156]

In [5]:
df_2022 = df[['Title','Cast and crew']]

In [6]:
df_2022

,Title,Cast and crew
0,Doctor Strange in the Multiverse of Madness*,NaN
1,The Batman*,NaN
2,Top Gun: Maverick*,NaN
3,Sonic the Hedgehog 2*,NaN
4,Uncharted,NaN
...,...,...
186,Distant,Josh Gordon & Will Speck (directors); Spenser ...
187,Don't Worry Darling,Olivia Wilde (director); Katie Silberman (scre...
188,"Catherine, Called Birdy",Lena Dunham (director/screenplay); Bella Ramse...
189,Hocus Pocus 2,Anne Fletcher (director); Jen D'Angelo (screen...
190,Bros,Nicholas Stoller (director/screenplay); Billy ...

In [7]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '5492165c61b1a21c06eb3a3b578a6339'

In [8]:
from tmdbv3api import Movie
tmdb_movie = Movie() 
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if not result:
      return np.NaN
    else:
      movie_id = result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          return np.NaN

In [9]:
df_2022['genres'] = df_2022['Title'].map(lambda x: get_genre(str(x)))

C:\Users\POLIGH~1\AppData\Local\Temp/ipykernel_8676/2369738557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['genres'] = df_2022['Title'].map(lambda x: get_genre(str(x)))

In [10]:
df_2022

,Title,Cast and crew,genres
0,Doctor Strange in the Multiverse of Madness*,NaN,Fantasy Action Adventure
1,The Batman*,NaN,Crime Mystery Thriller
2,Top Gun: Maverick*,NaN,Action Drama
3,Sonic the Hedgehog 2*,NaN,Action Adventure Family Comedy
4,Uncharted,NaN,Action Adventure
...,...,...,...
186,Distant,Josh Gordon & Will Speck (directors); Spenser ...,Drama
187,Don't Worry Darling,Olivia Wilde (director); Katie Silberman (scre...,Drama Mystery Thriller
188,"Catherine, Called Birdy",Lena Dunham (director/screenplay); Bella Ramse...,Drama Adventure History
189,Hocus Pocus 2,Anne Fletcher (director); Jen D'Angelo (screen...,Fantasy Family Comedy
190,Bros,Nicholas Stoller (director/screenplay); Billy ...,Adventure Comedy Family Science Fiction

In [11]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [12]:
df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\POLIGH~1\AppData\Local\Temp/ipykernel_8676/3796821595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(str(x)))

In [13]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [14]:
df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(str(x)))

C:\Users\POLIGH~1\AppData\Local\Temp/ipykernel_8676/2929607607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [15]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [16]:
df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(str(x)))

C:\Users\POLIGH~1\AppData\Local\Temp/ipykernel_8676/2384233428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [17]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [18]:
df_2022['actor_3_name'] = df_2022['Cast and crew'].map(lambda x: get_actor3(str(x)))

C:\Users\POLIGH~1\AppData\Local\Temp/ipykernel_8676/1147949093.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_3_name'] = df_2022['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [19]:
df_2022

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Doctor Strange in the Multiverse of Madness*,NaN,Fantasy Action Adventure,nan,nan,NaN,NaN
1,The Batman*,NaN,Crime Mystery Thriller,nan,nan,NaN,NaN
2,Top Gun: Maverick*,NaN,Action Drama,nan,nan,NaN,NaN
3,Sonic the Hedgehog 2*,NaN,Action Adventure Family Comedy,nan,nan,NaN,NaN
4,Uncharted,NaN,Action Adventure,nan,nan,NaN,NaN
...,...,...,...,...,...,...,...
186,Distant,Josh Gordon & Will Speck (directors); Spenser ...,Drama,Josh Gordon & Will Speck,Anthony Ramos,Naomi Scott,Zachary Quinto
187,Don't Worry Darling,Olivia Wilde (director); Katie Silberman (scre...,Drama Mystery Thriller,Olivia Wilde,Florence Pugh,Harry Styles,Olivia Wilde
188,"Catherine, Called Birdy",Lena Dunham (director/screenplay); Bella Ramse...,Drama Adventure History,Lena Dunham,Bella Ramsey,Billie Piper,Andrew Scott
189,Hocus Pocus 2,Anne Fletcher (director); Jen D'Angelo (screen...,Fantasy Family Comedy,Anne Fletcher,Bette Midler,Sarah Jessica Parker,Kathy Najimy
190,Bros,Nicholas Stoller (director/screenplay); Billy ...,Adventure Comedy Family Science Fiction,Nicholas Stoller,Billy Eichner,Luke Macfarlane,Ts Madison

In [20]:
df_2022 = df_2022.rename(columns={'Title':'movie_title'})

In [21]:
new_df22 = df_2022.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [22]:
new_df22

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,nan,nan,NaN,NaN,Fantasy Action Adventure,Doctor Strange in the Multiverse of Madness*
1,nan,nan,NaN,NaN,Crime Mystery Thriller,The Batman*
2,nan,nan,NaN,NaN,Action Drama,Top Gun: Maverick*
3,nan,nan,NaN,NaN,Action Adventure Family Comedy,Sonic the Hedgehog 2*
4,nan,nan,NaN,NaN,Action Adventure,Uncharted
...,...,...,...,...,...,...
186,Josh Gordon & Will Speck,Anthony Ramos,Naomi Scott,Zachary Quinto,Drama,Distant
187,Olivia Wilde,Florence Pugh,Harry Styles,Olivia Wilde,Drama Mystery Thriller,Don't Worry Darling
188,Lena Dunham,Bella Ramsey,Billie Piper,Andrew Scott,Drama Adventure History,"Catherine, Called Birdy"
189,Anne Fletcher,Bette Midler,Sarah Jessica Parker,Kathy Najimy,Fantasy Family Comedy,Hocus Pocus 2
190,Nicholas Stoller,Billy Eichner,Luke Macfarlane,Ts Madison,Adventure Comedy Family Science Fiction,Bros

In [23]:
new_df22['comb'] = new_df22['actor_1_name'] + ' ' + new_df22['actor_2_name'] + ' '+ new_df22['actor_3_name'] + ' '+ new_df22['director_name'] +' ' + new_df22['genres']

In [24]:
new_df22.isna().sum()

director_name     0
actor_1_name      0
actor_2_name     14
actor_3_name     25
genres            1
movie_title       0
comb             25
dtype: int64

In [25]:
new_df22 = new_df22.dropna(how='any')

In [26]:
new_df22.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [27]:
new_df22['movie_title'] = new_df22['movie_title'].str.lower()

C:\Users\POLIGH~1\AppData\Local\Temp/ipykernel_8676/2732328091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df22['movie_title'] = new_df22['movie_title'].str.lower()

In [28]:
new_df22

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
10,Simon Kinberg,Jessica Chastain,Lupita Nyong'o,PenÃ©lope Cruz,Action Thriller,the 355,Jessica Chastain Lupita Nyong'o PenÃ©lope Cruz ...
11,Patricia Harris Seeley,Autumn Reeser,Antonio Cupo,Danny Trejo,Horror Thriller,the legend of la llorona,Autumn Reeser Antonio Cupo Danny Trejo Patrici...
13,"Matt Bettinelli-Olpin, Tyler Gillett",Melissa Barrera,Mason Gooding,Jenna Ortega,Horror Mystery Thriller,scream,Melissa Barrera Mason Gooding Jenna Ortega Mat...
14,"Jennifer Kluska, Derek Drymon",Andy Samberg,Selena Gomez,Kathryn Hahn,Animation Family Fantasy Comedy Adventure,hotel transylvania: transformania,Andy Samberg Selena Gomez Kathryn Hahn Jennife...
15,Luis Prieto,Cameron Monaghan,Frank Grillo,Lilly Krug,Thriller,shattered,Cameron Monaghan Frank Grillo Lilly Krug Luis ...
...,...,...,...,...,...,...,...
186,Josh Gordon & Will Speck,Anthony Ramos,Naomi Scott,Zachary Quinto,Drama,distant,Anthony Ramos Naomi Scott Zachary Quinto Josh ...
187,Olivia Wilde,Florence Pugh,Harry Styles,Olivia Wilde,Drama Mystery Thriller,don't worry darling,Florence Pugh Harry Styles Olivia Wilde Olivia...
188,Lena Dunham,Bella Ramsey,Billie Piper,Andrew Scott,Drama Adventure History,"catherine, called birdy",Bella Ramsey Billie Piper Andrew Scott Lena Du...
189,Anne Fletcher,Bette Midler,Sarah Jessica Parker,Kathy Najimy,Fantasy Family Comedy,hocus pocus 2,Bette Midler Sarah Jessica Parker Kathy Najimy...
190,Nicholas Stoller,Billy Eichner,Luke Macfarlane,Ts Madison,Adventure Comedy Family Science Fiction,bros,Billy Eichner Luke Macfarlane Ts Madison Nicho...

In [29]:
old_df = pd.read_csv('final_data.csv')

In [30]:
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakensÂ ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
5870,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Animation Action Adventure Comedy Family,spies in disguise,Will Smith Tom Holland Rashida Jones Nick Brun...
5871,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance,little women,Saoirse Ronan Emma Watson Florence Pugh Greta ...
5872,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Drama Action Thriller,1917,George MacKay Dean-Charles Chapman Mark Strong...
5873,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama Crime History,just mercy,Michael B. Jordan Jamie Foxx Brie Larson Desti...
5874,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency,Alfre Woodard Wendell Pierce Aldis Hodge Chino...

In [31]:
final_df = old_df.append(new_df22,ignore_index=True)

In [32]:
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakensÂ ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
6036,Josh Gordon & Will Speck,Anthony Ramos,Naomi Scott,Zachary Quinto,Drama,distant,Anthony Ramos Naomi Scott Zachary Quinto Josh ...
6037,Olivia Wilde,Florence Pugh,Harry Styles,Olivia Wilde,Drama Mystery Thriller,don't worry darling,Florence Pugh Harry Styles Olivia Wilde Olivia...
6038,Lena Dunham,Bella Ramsey,Billie Piper,Andrew Scott,Drama Adventure History,"catherine, called birdy",Bella Ramsey Billie Piper Andrew Scott Lena Du...
6039,Anne Fletcher,Bette Midler,Sarah Jessica Parker,Kathy Najimy,Fantasy Family Comedy,hocus pocus 2,Bette Midler Sarah Jessica Parker Kathy Najimy...
6040,Nicholas Stoller,Billy Eichner,Luke Macfarlane,Ts Madison,Adventure Comedy Family Science Fiction,bros,Billy Eichner Luke Macfarlane Ts Madison Nicho...

In [34]:
final_df.to_csv('main_data.csv',index=False)